//====================================================================================================
.footer {

    &__container {
        position: relative;
        padding-top: toRem(30);
        padding-bottom: toRem(30);
        padding-right: toRem(20);
        padding-left: toRem(20);
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        background: var(--color);
    }

    &__logo {
        font-size: toRem(60);
        @media (max-width:$mobile){
             font-size: toRem(30); 
        }
    }

    &__menu {
    }
}

.menu-footer {
// display: flex;
    &__icon {}

    &__body {}

    &__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        // justify-content: space-between;
        @media (max-width:$tablet){
            gap: 16px;
        }
        @media (max-width:$mobile){
             gap: 10px; 
        }
    }

    &__item {
        
    }

    &__link {
        font-size: toRem(18);
        font-weight: 600;
        // text-align: center;
    }
}

.icon-menu {}

.link-10 {}

//====================================================================================================